{% extends "store/main.html" %}
{% load static %}
{% block content %}
    <div class="register">
    
    <form action="{%url 'store:register' %}"  method="post"class="register  w-50" id="form-control">  
        {% csrf_token %}
        <div href=""class="bg-warning w-100 "> <strong>Registration Form</strong> </div> 
        <div class="col-lg-6 r_form">
        
        {{form}}
        <br>
        <button class="btn btn-danger" id="r-button" type="submit">Register</button>
        </div>
    </form>
</div>
{% endblock  %}
